<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51663830731-1v58p1lk94moaso87u0lug87feck6gnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51663830731-1v58p1lk94moaso87u0lug87feck6gnj</string>
	<key>API_KEY</key>
	<string>AIzaSyAvrTj3N1SMas4p8om110tPCujXT8wav3s</string>
	<key>GCM_SENDER_ID</key>
	<string>51663830731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squid99.eco-minder-pervasive</string>
	<key>PROJECT_ID</key>
	<string>eco-minder-pervasive</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-minder-pervasive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51663830731:ios:84dd2db290d6b82f38254e</string>
</dict>
</plist>