<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51663830731-is3lbp7d6pou0kv5b7q5i352ui47d4r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51663830731-is3lbp7d6pou0kv5b7q5i352ui47d4r2</string>
	<key>API_KEY</key>
	<string>AIzaSyAvrTj3N1SMas4p8om110tPCujXT8wav3s</string>
	<key>GCM_SENDER_ID</key>
	<string>51663830731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoMinderFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>eco-minder-pervasive</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-minder-pervasive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51663830731:ios:d326504d38beabf338254e</string>
</dict>
</plist>